p { 
   margin:0in; 
   margin-bottom:.0001pt; 
   font-size:10.0pt; 
   font-family:Verdana; 
   color:blue;  }
h1 { 
    margin-top:0in; 
    margin-right:0in; 
    margin-bottom:.0001pt; 
    margin-left:.3in; 
    text-indent:-.3in; 
    text-autospace:none; 
    font-size:12.0pt; 
    font-family:Verdana; 
    color:blue; 
    font-weight:bold;  }
h2 { 
    margin-top:0in; 
    margin-right:0in; 
    margin-bottom:.0001pt; 
    margin-left:60.15pt; 
    text-indent:-60.15pt; 
    text-autospace:none; 
    font-size:10.0pt; 
    font-family:Verdana; 
    color:#F43B08; 
    font-weight:bold;  }
h3 { 
    margin-top:0in; 
    margin-right:0in; 
    margin-bottom:.0001pt; 
    margin-left:.5in; 
    text-indent:-.5in; 
    text-autospace:none; 
    font-size:10.0pt; 
    font-family:Verdana; 
    color:#333399; 
    font-weight:bold;  }
h4 { 
    margin-top:0in; 
    margin-right:0in; 
    margin-bottom:.0001pt; 
    margin-left:.6in; 
    text-indent:-.6in; 
    text-autospace:none; 
    font-size:10.0pt; 
    font-family:Verdana; 
    color:#009900; 
    font-weight:normal;  }
h5 { 
    margin-top:0in; 
    margin-right:0in; 
    margin-bottom:.0001pt; 
    margin-left:.7in; 
    text-align:center; 
    text-indent:-.7in; 
    text-autospace:none; 
    font-size:10.0pt; 
    font-family:Siemens Sans; 
    color:black; 
    font-weight:bold;  }
h6 { 
    margin-top:0in; 
    margin-right:0in; 
    margin-bottom:6.0pt; 
    margin-left:.8in; 
    text-indent:-.8in; 
    font-size:12.0pt; 
    font-family:Verdana; 
    color:blue; 
    font-weight:bold;  }
p.Heading7 { 
            margin-top:0in; 
            margin-right:0in; 
            margin-bottom:.0001pt; 
            margin-left:.9in; 
            text-indent:-.9in; 
            font-size:10.0pt; 
            font-family:Verdana; 
            color:blue; 
            font-weight:bold; 
            text-decoration:underline; 
            text-underline:single;  }
p.Heading8 { 
            margin-top:0in; 
            margin-right:0in; 
            margin-bottom:.0001pt; 
            margin-left:1.0in; 
            text-indent:-1.0in; 
            font-size:10.0pt; 
            font-family:Verdana; 
            color:blue; 
            font-weight:bold; 
            font-style:italic;  }
p.Heading9 { 
            margin-top:0in; 
            margin-right:0in; 
            margin-bottom:.0001pt; 
            margin-left:1.1in; 
            text-indent:-1.1in; 
            font-size:10.0pt; 
            font-family:Verdana; 
            color:blue; 
            font-weight:bold;  }
p.Toc1 { 
        margin:0in; 
        margin-bottom:.0001pt; 
        font-size:10.0pt; 
        font-family:Verdana;  }
p.Toc2 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:9.95pt; 
        font-size:10.0pt; 
        font-family:Verdana;  }
p.Toc3 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:20.0pt; 
        font-size:10.0pt; 
        font-family:Verdana; 
        color:blue;  }
p.Toc4 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:30.0pt; 
        font-size:10.0pt; 
        font-family:Verdana; 
        color:blue;  }
p.Toc5 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:40.0pt; 
        text-align:center; 
        font-size:10.0pt; 
        font-family:Verdana; 
        font-weight:bold;  }
p.Toc6 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:50.0pt; 
        font-size:10.0pt; 
        font-family:Verdana; 
        color:blue;  }
p.Toc7 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:60.0pt; 
        font-size:10.0pt; 
        font-family:Verdana; 
        color:blue;  }
p.Toc8 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:70.0pt; 
        font-size:10.0pt; 
        font-family:Verdana; 
        color:blue;  }
p.Toc9 { 
        margin-top:0in; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:80.0pt; 
        font-size:10.0pt; 
        font-family:Verdana; 
        color:blue;  }
p.NormalIndent { 
                margin-top:0in; 
                margin-right:0in; 
                margin-bottom:12.0pt; 
                margin-left:0in; 
                line-height:12.0pt; 
                font-size:12.0pt; 
                font-family:Arial; 
                font-weight:bold;  }
p.FootnoteText { 
                margin:0in; 
                margin-bottom:.0001pt; 
                font-size:10.0pt; 
                font-family:Times New Roman;  }
p.CommentText { 
               margin:0in; 
               margin-bottom:.0001pt; 
               font-size:10.0pt; 
               font-family:Verdana; 
               color:blue;  }
p.Header { 
          margin:0in; 
          margin-bottom:.0001pt; 
          font-size:10.0pt; 
          font-family:Verdana; 
          color:blue;  }
p.Footer { 
          margin:0in; 
          margin-bottom:.0001pt; 
          font-size:10.0pt; 
          font-family:Verdana; 
          color:blue;  }
p.Caption { 
           margin-top:6.0pt; 
           margin-right:0in; 
           margin-bottom:6.0pt; 
           margin-left:0in; 
           font-size:10.0pt; 
           font-family:Verdana; 
           color:blue; 
           font-weight:bold;  }
span.CommentReference {  }
p.List { 
        margin-top:3.0pt; 
        margin-right:0in; 
        margin-bottom:.0001pt; 
        margin-left:0in; 
        font-size:12.0pt; 
        font-family:Times New Roman;  }
p.ListBullet { 
              margin-top:0in; 
              margin-right:0in; 
              margin-bottom:.0001pt; 
              margin-left:.2in; 
              text-indent:-.25in; 
              font-size:11.0pt; 
              font-family:Times New Roman; 
              color:red; 
              display:none;  }
p.Title { 
         margin:0in; 
         margin-bottom:.0001pt; 
         text-align:center; 
         font-size:10.0pt; 
         font-family:Verdana; 
         color:blue; 
         font-weight:bold;  }
p.BodyText { 
            margin:0in; 
            margin-bottom:.0001pt; 
            font-size:10.0pt; 
            font-family:Verdana; 
            color:blue;  }
p.BodyTextIndent { 
                  margin-top:0in; 
                  margin-right:0in; 
                  margin-bottom:6.0pt; 
                  margin-left:.75in; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue;  }
p.BodyText2 { 
             margin:0in; 
             margin-bottom:.0001pt; 
             font-size:10.0pt; 
             font-family:Verdana; 
             display:none;  }
p.BodyText3 { 
             margin:0in; 
             margin-bottom:.0001pt; 
             font-size:9.0pt; 
             font-family:Verdana;  }
p.BodyTextIndent2 { 
                   margin-top:0in; 
                   margin-right:0in; 
                   margin-bottom:6.0pt; 
                   margin-left:.75in; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue; 
                   font-weight:bold;  }
p.BodyTextIndent3 { 
                   margin-top:0in; 
                   margin-right:0in; 
                   margin-bottom:.0001pt; 
                   margin-left:27.0pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue;  }
p.BlockText { 
             margin-top:0in; 
             margin-right:.25pt; 
             margin-bottom:.0001pt; 
             margin-left:71.25pt; 
             text-indent:.75pt; 
             line-height:12.0pt; 
             font-size:11.0pt; 
             font-family:Arial;  }
a:link { 
        color:blue; 
        text-decoration:underline; 
        text-underline:single;  }
span.Hyperlink { 
                color:blue; 
                text-decoration:underline; 
                text-underline:single;  }
a:visited { 
           color:purple; 
           text-decoration:underline; 
           text-underline:single;  }
span.HyperlinkFollowed { 
                        color:purple; 
                        text-decoration:underline; 
                        text-underline:single;  }
p.DocumentMap { 
               margin:0in; 
               margin-bottom:.0001pt; 
               background:navy; 
               font-size:10.0pt; 
               font-family:Tahoma; 
               color:blue;  }
p.PlainText { 
             margin:0in; 
             margin-bottom:.0001pt; 
             font-size:10.0pt; 
             font-family:Courier New;  }
p.AutoSig { 
           margin:0in; 
           margin-bottom:.0001pt; 
           font-size:12.0pt; 
           font-family:Times New Roman;  }
p.WordNormalWeb { 
                 margin-right:0in; 
                 margin-left:0in; 
                 font-size:12.0pt; 
                 font-family:Times New Roman;  }
p.CommentSubject { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  font-weight:bold;  }
p.Acetate { 
           margin:0in; 
           margin-bottom:.0001pt; 
           font-size:8.0pt; 
           font-family:Tahoma; 
           color:blue;  }
p.TableText { 
             margin-top:3.0pt; 
             margin-right:0in; 
             margin-bottom:3.0pt; 
             margin-left:.05in; 
             font-size:9.0pt; 
             font-family:Arial; 
             color:blue;  }
p.MinorHead { 
             margin-top:6.0pt; 
             margin-right:0in; 
             margin-bottom:6.0pt; 
             margin-left:0in; 
             line-height:14.5pt; 
             font-size:12.0pt; 
             font-family:Times New Roman; 
             font-weight:bold;  }
p.InstructionText { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Arial; 
                   color:red; 
                   display:none;  }
p.Item1In { 
           margin-top:0in; 
           margin-right:0in; 
           margin-bottom:.0001pt; 
           margin-left:.5in; 
           font-size:12.0pt; 
           font-family:Times New Roman;  }
p.Item1 { 
         margin-top:0in; 
         margin-right:0in; 
         margin-bottom:6.0pt; 
         margin-left:.5in; 
         text-indent:-.25in; 
         font-size:11.0pt; 
         font-family:Times New Roman;  }
p.Item1Last { 
             margin-top:0in; 
             margin-right:0in; 
             margin-bottom:.0001pt; 
             margin-left:.5in; 
             text-indent:-.25in; 
             font-size:11.0pt; 
             font-family:Times New Roman;  }
p.Heading3list { 
                margin-top:0in; 
                margin-right:0in; 
                margin-bottom:.0001pt; 
                margin-left:1.75in; 
                text-indent:-.25in; 
                font-size:10.0pt; 
                font-family:Arial;  }
p.bulletindentonce { 
                    margin-top:0in; 
                    margin-right:0in; 
                    margin-bottom:6.0pt; 
                    margin-left:85.5pt; 
                    text-indent:-13.5pt; 
                    font-size:12.0pt; 
                    font-family:Times;  }
p.HTMLBody { 
            margin:0in; 
            margin-bottom:.0001pt; 
            font-size:10.0pt; 
            font-family:Arial; 
            layout-grid-mode:line;  }
p.FormHeader2 { 
               margin-top:4.0pt; 
               margin-right:0in; 
               margin-bottom:3.0pt; 
               margin-left:0in; 
               font-size:10.0pt; 
               font-family:Arial; 
               font-weight:bold;  }
p.FormText { 
            margin-top:6.0pt; 
            margin-right:0in; 
            margin-bottom:4.0pt; 
            margin-left:0in; 
            font-size:11.0pt; 
            font-family:Arial;  }
p.Heading4Text { 
                margin-top:6.0pt; 
                margin-right:0in; 
                margin-bottom:6.0pt; 
                margin-left:0in; 
                font-size:10.0pt; 
                font-family:Verdana; 
                layout-grid-mode:line;  }
p.Task1Heading { 
                margin-top:0in; 
                margin-right:0in; 
                margin-bottom:.0001pt; 
                margin-left:.5in; 
                text-indent:-.5in; 
                font-size:16.0pt; 
                font-family:Verdana; 
                font-weight:bold;  }
p.Task2Heading { 
                margin-top:0in; 
                margin-right:0in; 
                margin-bottom:.0001pt; 
                margin-left:.5in; 
                text-indent:0in; 
                font-size:14.0pt; 
                font-family:Verdana; 
                font-weight:bold;  }
p.Task3Heading { 
                margin-top:0in; 
                margin-right:0in; 
                margin-bottom:.0001pt; 
                margin-left:45.0pt; 
                text-indent:-45.0pt; 
                font-size:12.0pt; 
                font-family:Verdana; 
                font-weight:bold;  }
p.DeliverableText { 
                   margin-top:0in; 
                   margin-right:0in; 
                   margin-bottom:.0001pt; 
                   margin-left:.25in; 
                   text-indent:-.25in; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   layout-grid-mode:line;  }
p.DeliverableHead { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   font-weight:bold;  }
p.Heading3Text { 
                margin-top:6.0pt; 
                margin-right:0in; 
                margin-bottom:6.0pt; 
                margin-left:0in; 
                font-size:10.0pt; 
                font-family:Verdana;  }
p.Heading2Text { 
                margin-top:6.0pt; 
                margin-right:0in; 
                margin-bottom:6.0pt; 
                margin-left:0in; 
                font-size:10.0pt; 
                font-family:Arial; 
                layout-grid-mode:line;  }
p.Task4Heading { 
                margin-top:0in; 
                margin-right:0in; 
                margin-bottom:.0001pt; 
                margin-left:.75in; 
                text-indent:0in; 
                font-size:12.0pt; 
                font-family:Verdana;  }
span.EmailStyle64 { 
                   font-family:Verdana; 
                   color:windowtext; 
                   font-weight:normal; 
                   font-style:normal;  }
p.Indent5 { 
           margin-top:2.0pt; 
           margin-right:0in; 
           margin-bottom:6.0pt; 
           margin-left:1.5in; 
           font-size:12.0pt; 
           font-family:Times New Roman;  }
p.Achievement { 
               margin-top:0in; 
               margin-right:0in; 
               margin-bottom:4.0pt; 
               margin-left:0in; 
               font-size:10.0pt; 
               font-family:Tahoma;  }
span.H3CharChar { 
                 font-family:Verdana; 
                 color:#333399; 
                 font-weight:bold;  }
span.Heading3Char { 
                   font-family:Verdana; 
                   color:#333399; 
                   font-weight:bold;  }
span.PlainTextChar { 
                    font-family:Courier New;  }
span.clsnamelabels1 { 
                     font-family:Arial Unicode MS; 
                     color:black; 
                     font-weight:normal;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px;  }
p.InlineNormal57 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.5in;  }
p.InlineNormal80 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  line-height:12.0pt;  }
p.InlineNormal44 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:12.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:42.3pt; 
                  text-indent:-13.5pt;  }
p.InlineNormal10 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:blue;  }
p.InlineBodyText6 { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue; 
                   text-align:center;  }
p.InlineTitle5 { 
                margin:0in; 
                margin-bottom:.0001pt; 
                text-align:center; 
                font-size:11.0pt; 
                font-family:Tw Cen MT Condensed; 
                color:windowtext; 
                font-weight:bold; 
                background:white; 
                letter-spacing:1.0pt;  }
p.InlineNormal25 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:14.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  text-align:center; 
                  font-weight:bold;  }
p.InlineNormal63 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.25in;  }
p.InlineNormal50 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:12.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:37.8pt; 
                  font-weight:bold;  }
p.InlineNormal22 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:12.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:27.0pt;  }
p.InlineNormal15 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:27.0pt;  }
p.InlineNormal27 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  text-align:center;  }
p.InlineTitle8 { 
                margin:0in; 
                margin-bottom:.0001pt; 
                text-align:left; 
                font-size:10.0pt; 
                font-family:Verdana; 
                color:blue; 
                font-weight:bold; 
                text-indent:.5in; 
                background:white;  }
p.InlineNormal46 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:14.0pt; 
                  font-family:Verdana; 
                  color:red; 
                  font-weight:bold;  }
p.InlineNormal76 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.25in;  }
p.InlineNormal81 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  text-indent:.5in; 
                  line-height:12.0pt;  }
p.InlineNormal73 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.5in; 
                  text-indent:-.25in;  }
p.InlineNormal52 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:.4in;  }
p.InlineNormal58 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:12.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:.3in;  }
p.InlineNormal56 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:12.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:40.5pt; 
                  text-indent:-13.5pt; 
                  font-weight:bold;  }
p.InlineNormal6 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:12.0pt; 
                 font-family:Arial; 
                 color:blue; 
                 margin-left:.4in;  }
p.InlineBodyText10 { 
                    margin:0in; 
                    margin-bottom:.0001pt; 
                    font-size:10.0pt; 
                    font-family:Verdana; 
                    color:blue; 
                    margin-left:.4in;  }
p.InlineFormHeader2 { 
                     margin-top:4.0pt; 
                     margin-right:0in; 
                     margin-bottom:3.0pt; 
                     margin-left:0in; 
                     font-size:10.0pt; 
                     font-family:Verdana; 
                     font-weight:bold; 
                     text-align:center;  }
p.InlineNormal23 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:14.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  font-weight:bold;  }
p.InlineNormal2 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:10.0pt; 
                 font-family:Verdana; 
                 color:blue; 
                 line-height:12.0pt;  }
p.InlineNormal68 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:12.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:.5in;  }
p.InlineNormal30 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:12.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:.4in; 
                  font-weight:bold;  }
p.InlineNormal { 
                margin:0in; 
                margin-bottom:.0001pt; 
                font-size:10.0pt; 
                font-family:Verdana; 
                color:blue;  }
p.InlineTitle9 { 
                margin:0in; 
                margin-bottom:.0001pt; 
                text-align:left; 
                font-size:8.0pt; 
                font-family:Tw Cen MT Condensed; 
                color:gray; 
                font-weight:bold; 
                text-indent:.5in; 
                background:white; 
                letter-spacing:1.0pt;  }
p.InlineTitle1 { 
                margin:0in; 
                margin-bottom:.0001pt; 
                text-align:center; 
                font-size:8.0pt; 
                font-family:Tw Cen MT Condensed; 
                color:blue; 
                font-weight:bold; 
                background:white; 
                letter-spacing:1.0pt;  }
p.InlineNormal61 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:windowtext; 
                  margin-left:.5in;  }
p.InlineNormal36 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  line-height:12.0pt; 
                  text-decoration:none; 
                  text-underline:single;  }
p.InlineFormText { 
                  margin-top:6.0pt; 
                  margin-right:0in; 
                  margin-bottom:.0001pt; 
                  margin-left:0in; 
                  font-size:10.0pt; 
                  font-family:Verdana;  }
p.InlineNormal14 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:windowtext; 
                  margin-left:57.75pt; 
                  text-align:center;  }
p.InlineNormal54 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  line-height:12.0pt; 
                  text-decoration:underline; 
                  text-underline:single;  }
p.InlineBodyText4 { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue; 
                   margin-left:27.0pt;  }
p.InlineBodyText3 { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue; 
                   margin-left:.3in;  }
p.InlineBodyText2 { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue; 
                   margin-left:.4in; 
                   font-weight:bold;  }
p.InlineBodyText5 { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue; 
                   text-indent:.5in;  }
p.InlineBodyText { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.5in;  }
p.InlineNormal66 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  text-align:center;  }
p.InlineNormal39 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:windowtext; 
                  margin-left:57.75pt;  }
p.InlineNormal9 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:14.0pt; 
                 font-family:Verdana; 
                 color:blue; 
                 font-weight:bold;  }
p.InlineNormal67 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.75in; 
                  line-height:12.0pt;  }
p.InlineWordNormalWeb7 { 
                        margin-right:0in; 
                        margin-left:37.8pt; 
                        font-size:12.0pt; 
                        font-family:Arial; 
                        margin-top:0in; 
                        margin-bottom:.0001pt; 
                        text-indent:-9.0pt;  }
p.InlineBodyText7 { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue; 
                   margin-left:.4in;  }
p.InlineNormal8 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:10.0pt; 
                 font-family:Verdana; 
                 color:blue; 
                 margin-left:.9in; 
                 text-indent:-.25in; 
                 line-height:150%;  }
p.InlineBodyText8 { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue; 
                   margin-left:.5in;  }
p.InlineWordNormalWeb9 { 
                        margin-right:0in; 
                        margin-left:.9in; 
                        font-size:12.0pt; 
                        font-family:Arial; 
                        margin-top:0in; 
                        margin-bottom:.0001pt; 
                        text-indent:-.25in;  }
p.InlineWordNormalWeb { 
                       margin-right:0in; 
                       margin-left:.4in; 
                       font-size:12.0pt; 
                       font-family:Arial; 
                       margin-top:0in; 
                       margin-bottom:.0001pt;  }
p.InlineNormal20 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:12.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:37.8pt; 
                  text-indent:-9.0pt;  }
p.InlineNormal33 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:40.5pt; 
                  text-indent:-13.5pt;  }
p.InlineNormal35 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:8.0pt; 
                  font-family:Verdana; 
                  color:gray; 
                  margin-left:29.25pt; 
                  text-autospace:none;  }
p.InlineNormal69 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.75in; 
                  text-indent:-.25in;  }
p.InlineNormal5 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:10.0pt; 
                 font-family:Verdana; 
                 color:blue; 
                 line-height:12.0pt; 
                 font-weight:bold; 
                 font-style:italic;  }
p.InlineNormal82 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:windowtext;  }
p.InlineFormText1 { 
                   margin-top:6.0pt; 
                   margin-right:0in; 
                   margin-bottom:.0001pt; 
                   margin-left:0in; 
                   font-size:8.0pt; 
                   font-family:Verdana;  }
p.InlineNormal77 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  background:white;  }
p.InlineTitle10 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 text-align:left; 
                 font-size:26.0pt; 
                 font-family:Tw Cen MT Condensed; 
                 color:silver; 
                 font-weight:bold; 
                 text-indent:.5in; 
                 background:white; 
                 letter-spacing:1.0pt;  }
p.InlineNormal16 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:black;  }
p.InlineNormal43 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:21.0pt; 
                  text-indent:-.25in; 
                  line-height:12.0pt;  }
p.InlineNormal13 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:1.0in; 
                  text-indent:-.25in;  }
p.InlineWordNormalWeb8 { 
                        margin-right:0in; 
                        margin-left:0in; 
                        font-size:12.0pt; 
                        font-family:Arial; 
                        margin:0in; 
                        margin-bottom:.0001pt;  }
p.InlineNormal4 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:12.0pt; 
                 font-family:Arial; 
                 color:blue;  }
p.InlineFormHeader21 { 
                      margin-top:4.0pt; 
                      margin-right:0in; 
                      margin-bottom:3.0pt; 
                      margin-left:0in; 
                      font-size:10.0pt; 
                      font-family:Verdana; 
                      font-weight:normal;  }
p.InlineNormal31 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:9.0pt; 
                  font-family:Tw Cen MT Condensed; 
                  color:gray; 
                  text-indent:.5in; 
                  background:white;  }
p.InlineNormal75 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  text-align:center;  }
p.InlineNormal11 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:black; 
                  margin-left:1.0in; 
                  text-indent:-.5in;  }
p.InlineNormal51 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  line-height:12.0pt; 
                  font-weight:bold;  }
p.InlineNormal53 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  text-align:center; 
                  line-height:12.0pt; 
                  font-weight:bold;  }
p.InlineNormal55 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  line-height:12.0pt; 
                  font-weight:bold;  }
p.InlineNormal38 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  font-weight:bold;  }
p.InlineNormal42 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:18.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  font-weight:bold; 
                  text-decoration:underline; 
                  text-underline:single;  }
p.InlineWordNormalWeb2 { 
                        margin-right:0in; 
                        margin-left:.65in; 
                        font-size:12.0pt; 
                        font-family:Times New Roman; 
                        margin-top:0in; 
                        margin-bottom:.0001pt; 
                        text-indent:-.25in;  }
p.InlineNormal18 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:37.8pt; 
                  text-indent:-9.0pt;  }
p.InlineBodyText9 { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue;  }
p.InlineFormText2 { 
                   margin-top:6.0pt; 
                   margin-right:0in; 
                   margin-bottom:.0001pt; 
                   margin-left:0in; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   text-align:center;  }
p.InlineTitle11 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 text-align:center; 
                 font-size:24.0pt; 
                 font-family:Tw Cen MT Condensed; 
                 color:windowtext; 
                 font-weight:bold; 
                 background:white; 
                 letter-spacing:1.0pt;  }
p.InlineTitle12 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 text-align:left; 
                 font-size:8.0pt; 
                 font-family:Tw Cen MT Condensed; 
                 color:blue; 
                 font-weight:bold; 
                 background:white; 
                 letter-spacing:1.0pt;  }
p.InlineTitle4 { 
                margin:0in; 
                margin-bottom:.0001pt; 
                text-align:left; 
                font-size:22.0pt; 
                font-family:Tw Cen MT Condensed; 
                color:windowtext; 
                font-weight:bold; 
                text-indent:.5in; 
                background:white; 
                letter-spacing:1.0pt;  }
p.InlineNormal19 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:black; 
                  margin-left:.5in; 
                  text-align:center;  }
p.InlineNormal45 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:red; 
                  font-weight:bold;  }
p.InlineNormal79 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  text-indent:.25in;  }
p.InlineNormal47 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:18.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  text-decoration:none; 
                  text-underline:single;  }
p.InlineNormal49 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:12.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:.5in; 
                  text-align:center;  }
p.InlineBodyText1 { 
                   margin:0in; 
                   margin-bottom:.0001pt; 
                   font-size:10.0pt; 
                   font-family:Verdana; 
                   color:blue; 
                   margin-left:2.0in;  }
p.InlineNormal21 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:8.0pt; 
                  font-family:Tw Cen MT Condensed; 
                  color:gray; 
                  text-indent:.5in; 
                  background:white;  }
p.InlineTitle2 { 
                margin:0in; 
                margin-bottom:.0001pt; 
                text-align:center; 
                font-size:9.0pt; 
                font-family:Verdana; 
                color:blue; 
                font-weight:bold; 
                text-indent:.5in; 
                background:white; 
                letter-spacing:1.0pt;  }
p.InlineNormal26 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.5in; 
                  text-align:center;  }
p.InlineNormal59 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.4in;  }
p.InlineFormText3 { 
                   margin-top:6.0pt; 
                   margin-right:0in; 
                   margin-bottom:.0001pt; 
                   margin-left:0in; 
                   font-size:10.0pt; 
                   font-family:Verdana;  }
p.InlineNormal60 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.5in;  }
p.InlineNormal1 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:10.0pt; 
                 font-family:Verdana; 
                 color:black; 
                 margin-left:.5in;  }
p.InlineNormal62 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:black; 
                  margin-left:.3in;  }
p.InlineNormal28 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:red; 
                  margin-left:.25in; 
                  font-weight:bold;  }
p.InlineNormal64 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:11.0pt; 
                  font-family:Verdana; 
                  color:blue;  }
p.InlineNormal65 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.75in;  }
p.InlineNormal34 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:.5in; 
                  line-height:12.0pt;  }
p.InlineTitle3 { 
                margin:0in; 
                margin-bottom:.0001pt; 
                text-align:left; 
                font-size:8.0pt; 
                font-family:Tw Cen MT Condensed; 
                color:blue; 
                font-weight:normal; 
                margin-left:.5in; 
                background:white; 
                letter-spacing:1.0pt;  }
p.InlineTitle { 
               margin:0in; 
               margin-bottom:.0001pt; 
               text-align:center; 
               font-size:8.0pt; 
               font-family:Tw Cen MT Condensed; 
               color:blue; 
               font-weight:normal; 
               background:white; 
               letter-spacing:1.0pt;  }
p.InlineNormal17 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:75.75pt; 
                  text-indent:-.25in;  }
p.InlineNormal12 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:windowtext; 
                  margin-left:.5in;  }
p.InlineNormal37 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:windowtext; 
                  margin-left:.5in; 
                  text-align:center;  }
p.InlineNormal70 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  text-align:center; 
                  font-weight:bold;  }
p.InlineNormal71 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.25in; 
                  text-indent:.25in;  }
p.InlineWordNormalWeb3 { 
                        margin-right:0in; 
                        margin-left:.65in; 
                        font-size:12.0pt; 
                        font-family:Arial; 
                        margin-top:0in; 
                        margin-bottom:.0001pt; 
                        text-indent:-.25in;  }
p.InlineNormal72 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.65in;  }
p.InlineNormal7 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:10.0pt; 
                 font-family:Verdana; 
                 color:blue; 
                 margin-left:.9in; 
                 text-indent:-.25in;  }
p.InlineWordNormalWeb5 { 
                        margin-right:0in; 
                        margin-left:.9in; 
                        font-size:12.0pt; 
                        font-family:Times New Roman; 
                        text-indent:-.25in;  }
p.InlineNormal74 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.4in;  }
p.InlineNormal29 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:12.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:37.8pt;  }
p.InlineNormal32 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:42.3pt; 
                  text-indent:-13.5pt;  }
p.InlineNormal48 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:14.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  text-align:center;  }
p.InlineTitle13 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 text-align:left; 
                 font-size:8.0pt; 
                 font-family:Tw Cen MT Condensed; 
                 color:blue; 
                 font-weight:normal; 
                 text-indent:.5in; 
                 background:white; 
                 letter-spacing:1.0pt;  }
p.InlineNormal78 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.75in;  }
p.InlineNormal3 { 
                 margin:0in; 
                 margin-bottom:.0001pt; 
                 font-size:10.0pt; 
                 font-family:Arial; 
                 color:blue; 
                 line-height:12.0pt;  }
p.InlineWordNormalWeb6 { 
                        margin-right:0in; 
                        margin-left:.4in; 
                        font-size:12.0pt; 
                        font-family:Times New Roman;  }
p.InlineWordNormalWeb4 { 
                        margin-right:0in; 
                        margin-left:.9in; 
                        font-size:12.0pt; 
                        font-family:Times New Roman; 
                        text-indent:-.25in; 
                        line-height:150%;  }
p.InlineNormal40 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:14.0pt; 
                  font-family:Verdana; 
                  color:red; 
                  text-align:center; 
                  font-weight:bold;  }
p.InlineNormal24 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:10.0pt; 
                  font-family:Verdana; 
                  color:blue; 
                  margin-left:.25in; 
                  line-height:12.0pt;  }
p.InlineWordNormalWeb1 { 
                        margin-right:0in; 
                        margin-left:.4in; 
                        font-size:12.0pt; 
                        font-family:Times New Roman; 
                        margin-top:0in; 
                        margin-bottom:.0001pt;  }
p.InlineNormal41 { 
                  margin:0in; 
                  margin-bottom:.0001pt; 
                  font-size:11.0pt; 
                  font-family:Arial; 
                  color:blue; 
                  margin-left:.5in;  }
p.InlineBodyText11 { 
                    margin:0in; 
                    margin-bottom:.0001pt; 
                    font-size:10.0pt; 
                    font-family:Verdana; 
                    color:blue; 
                    margin-left:1.0in; 
                    text-indent:-.25in;  }
p.InlineBodyText12 { 
                    margin:0in; 
                    margin-bottom:.0001pt; 
                    font-size:10.0pt; 
                    font-family:Verdana; 
                    color:blue; 
                    text-align:center;  }
p.InlineTitle6 { 
                margin:0in; 
                margin-bottom:.0001pt; 
                text-align:center; 
                font-size:8.0pt; 
                font-family:Tw Cen MT Condensed; 
                color:windowtext; 
                font-weight:bold; 
                background:white; 
                letter-spacing:1.0pt;  }
p.InlineTitle7 { 
                margin:0in; 
                margin-bottom:.0001pt; 
                text-align:left; 
                font-size:8.0pt; 
                font-family:Tw Cen MT Condensed; 
                color:blue; 
                font-weight:normal; 
                background:white; 
                letter-spacing:1.0pt;  }
